body,
html {
  margin: 0;
  height: 100%;
  width: 100%;
}

.content-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 100%;
  height: 100%;
  background-color: white;
}

.content-div h1 {
  color: black;
}

.game-container {
  background-color: black;
  width: 600px;
  height: 500px;
}

.game-container img {
  margin-left: 30%;
  padding: 0;
}
